/* ********** large devices ******** */ 
 @media (min-width: 991px){
  .Hobbies .col-4 i {
    font-size: 1.8rem;
}
 }
 
 /* ********** Medium devices ******** */

@media (max-width: 991px) {

  /* ********** Formation ******** */

  .row .Formation h3 {
    margin-left: 4.2rem;
  }

  .row .Formation h4 {
    margin-left: 4.2rem;
  }
  
  .row .Formation p {
    margin-left: 4.2rem;
  }

  .Formation li,
  .ExperiencePro li {
    padding-left: 0.8rem;
  }

  /* ********** ExpPro ******** */

  .row .ExperiencePro h3 {
    margin-left: 4.2rem;
  }

  .row .ExperiencePro h4 {
    margin-left: 4.2rem;
  }

  .row .ExperiencePro p {
    margin-left: 4.2rem;
  }

  .row .ExperiencePro {
    margin-bottom: 6.5rem;
  }

  /* ********** recomandation ******** */

  .recomandation {
    font-size: 0.8rem;
  }

  .recomdtTitle {
    margin-top: 12rem;
  }

  /* ********** Hobbies ******** */

  .Hobbies .col-4 i {
    font-size: 1.2rem;
    padding: 0.5rem;
}
}

  /* ************* Small devices ******** */

  @media (max-width: 767px) {

  /* **********header******** */

  header h1, header h2 {
    text-align: center;
  }

  /* **********aside******** */

  .AboutMeContent {
    margin-top: 5rem;
  }

  /* **********Formation******** */

  .formationTitle .col-md-12 h2::before {
    width: 80%;
  }

/*********** Experience Pro ************ */

  .ExpProTitle .col-lg-12 h2::before {
    width: 80%;
  }

/*********** Recomandation ************ */

  .recomdtTitle .col-sm-12 h2::before { 
    width: 80%;
  }
  }


    /* **********Extra Small devices ******** */

  @media (max-width: 575px){

    /*********** Formation ************ */ 

  .formationTitle .col-md-12 h2{ 
    font-size: 1.1rem;
  }

  .formationTitle .col-md-12 i{
    font-size:1.5rem;
    margin-right: 1rem;  
  }
/*********** Experience Pro ************ */

  .ExpProTitle .col-lg-12 h2{ 
    font-size: 1.1rem;
  }

  .ExpProTitle .col-lg-12 i{
    font-size:1.5rem;
    margin-right: 1rem;
  } 

/*********** Recomandation ************ */

  .recomdtTitle .col-sm-12 h2{ 
    font-size: 1.1rem;
  }

  .recomdtTitle .col-sm-12 i{
    font-size:1.5rem;
    margin-right: 1rem;
  } 
}