@media (max-width: 991px) {
  /* **********Formation******** */

  .row .Formation h3 {
    margin-left: 4.2rem;
  }

  .row .Formation h4 {
    margin-left: 4.2rem;
  }
  .row .Formation p {
    margin-left: 4.2rem;
  }

.Formation li,
.ExperiencePro li {
  padding-left: 0.8rem;
}

  /* **********ExpPro******** */

  .row .ExperiencePro h3 {
    margin-left: 4.2rem;
  }

  .row .ExperiencePro h4 {
    margin-left: 4.2rem;
  }

  .row .ExperiencePro p {
    margin-left: 4.2rem;
  }

  .row .ExperiencePro {
    margin-bottom: 6.5rem;
  }
  /* **********recomandation******** */
  .recomandation {
    font-size: 0.8rem;
  }
  .recomdtTitle {
    margin-top: 12rem;
  }
  /* **********Hobbies ******** */

.Hobbies .col-sm-4 i {
  font-size: 1.5rem;
  padding: 0.7rem;
}
}

@media (max-width: 767px) {
  /* **********header******** */
  header h2 {
  }
  /* **********aside******** */
  .AboutMeContent {
    margin-top: 5rem;
  }
}
