@charset "UTF-8";

/* font-family: "Roboto", sans-serif;
   font-family: "Open Sans", sans-serif;  
*/

/* color  

background color :#1792ca 
border :#037eb8
 */

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans";
}

/* header */

header img {
  width: 160px;
  height: 160px;
  border: 3px solid #037eb8;
  border-radius: 50%;
}

header .col-md-4 {
  background-color: #1792ca;
  text-align: center;
  padding-top: 2.5rem;
  padding-bottom: 1.2rem;
}

header .col-md-8 h1 span:first-child {
  font-family: "Open sans";
  color: #1792ca;
  font-size: 2.7rem;
}

header .col-md-8 h1 span:last-child {
  font-family: "Open sans light";
  letter-spacing: -0.22rem;
  font-size: 2.7rem;
}

header .col-md-8 h2 {
  font-family: "roboto";
  font-size: 1.3rem;
}
header .col-md-8 h2::before {
  content: "";
  width: 10%;
  position: absolute;
  bottom: 0.3rem;
  height: 1px;
  border-bottom: 1px solid #1792ca;
}

/* aside  */

aside {
  background-color: #1792ca;
}

aside h2 {
  background-color: #0b2c3b;
  color: #1792ca;
}

.HobbiesRecommandations .col-md-4 {
  color: #037eb8;
  background-color: rgb(201, 31, 31);
}
.HobbiesRecommandations h2 {
  background-color: #0b2c3b;
}
